@model Group6Flight.Models.Flight
@{
    ViewData["Title"] = "Delete Flight";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FlightCode (@Model.From to @Model.To)</h3>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="FlightId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Flights" asp-action="Index" 
        class="btn btn-primary">Cancel</a>
</form>
