@model Group6Flight.Models.Flight

@{
    string title = ViewBag.Action + " Flight";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    @* <div asp-validation-summary="All" class="text-danger"></div> *@

    <div class="mb-3">
        <label asp-for="FlightCode" class="form-label"></label>
        @if (ViewBag.Action == "Edit")
        {
            <input asp-for="FlightCode" class="form-control" readonly />
            <span asp-validation-for="FlightCode" class="text-danger"></span>
        }
        else
        {
            <input asp-for="FlightCode" class="form-control" />
            <span asp-validation-for="FlightCode" class="text-danger"></span>
        }
    </div>

    <div class="mb-3">
        <label asp-for="From" class="form-label"></label>
        <input asp-for="From" type="text" class="form-control" />
        <span asp-validation-for="From" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="To" class="form-label"></label>
        <input asp-for="To" type="text" class="form-control" />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DepartureTime" class="form-label"></label>
        <input asp-for="DepartureTime" type="time" class="form-control" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ArrivalTime" class="form-label"></label>
        <input asp-for="ArrivalTime" type="time" class="form-control" />
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CabinType" class="form-label"></label>
        <select asp-for="CabinType" class="form-select">
            <option value="">-- Select Cabin Type --</option>
            <option>Basic Economy</option>
            <option>Economy</option>
            <option>Economy Plus</option>
            <option>Business</option>
        </select>
        <span asp-validation-for="CabinType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Emission" class="form-label"></label>
        <input asp-for="Emission" type="number" step="0.1" class="form-control" />
        <span asp-validation-for="Emission" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AircraftType" class="form-label"></label>
        <select asp-for="AircraftType" class="form-select">
            <option value="">-- Select Aircraft Type--</option>
            <option>Airbus 320 family series</option>
            <option>Boeing 737 family series</option>
            <option>Airbus A220, Embraer E-Jets/E2</option>
            <option>COMAC C919</option>
        </select>
        <span asp-validation-for="AircraftType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Airline" class="form-label fw-bold"></label>
        <select asp-for="AirlineId" asp-items="ViewBag.Airlines" class="form-select">
            <option value="">-- Select Airline --</option>
        </select>
        <span asp-validation-for="AirlineId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="FlightId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>